body {
    position: relative;
}

.float-box {
    float: left;
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    margin: 20px;
}

.zindex-box1, .zindex-box2 {
    position: absolute;
    width: 150px;
    height: 150px;
    color: white;
}

.zindex-box1 {
    background-color: purple;
    top: 50px;
    left: 100px;
    z-index: 2; /* Aparece por cima da caixa flutuante */
}

.zindex-box2 {
    background-color: orange;
    top: 100px;
    left: 150px;
    z-index: 1; /* Aparece por baixo da caixa roxa */
}
